.Container{
    background-color: yellow;
    /*width: 300px;
    height: 500px;*/

}


.Container h1{
    color: blueviolet;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    text-decoration: underline;
}


.flexContainer{
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;

    flex-direction: column;
    height: 550px;

    
}

.flexContainer h1{
    margin: 25px;

}


.mainContainer{
    height: 400px;
    width: 100%;

    background-color: black;
}

.cont1{
    height: 100px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}

.cont2{
    height: 100px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
}
.cont3{
    height: 100px;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
}

.cont4{
    height: 100px;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    flex-direction: column;
}


.col25{
    width: 25%;
    height: 100px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.col75{
    width: 75%;
    height: 100px;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;

}


.col35{
    width: 35%;
    height: 100px;
    background-color:tan;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.col65{
    width: 65%;
    height: 100px;
    background-color:orchid;
    display: flex;
    justify-content: center;
    align-items: center;

}


.col10{
    width: 10%;
    height: 100px;
    background-color:gray;
    display: flex;
    justify-content: center;
    align-items: center;

}

.col20{
    width: 20%;
    height: 100px;
    background-color:purple;
    display: flex;
    justify-content: center;
    align-items: center;

}

.col30{
    width: 30%;
    height: 100px;
    background-color:peru;
    display: flex;
    justify-content: center;
    align-items: center;

}

.col40{
    width: 40%;
    height: 100px;
    background-color:palegreen;
    display: flex;
    justify-content: center;
    align-items: center;

}

.row30{
    width: 100%;
    height: 30px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;

}

.row70{
    width: 100%;
    height: 70px;
    background-color:blue;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (max-width:300px) or (min-width:500px){
    .row70{
        background-color:black;
        color: white;
    }
}




.generalContainer{
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;

}


.firstRow{
    display: flex;
    width: 100%;
    height: 100px;
    
}

.secondRow{
    display: flex;
    width: 100%;
    height: 100px;
    
}

.thirdRow{
    display: flex;
    width: 100%;
    height: 100px;
    
}


.rowt1{
    height: 100px;
    width: 10%;
    background-color: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt2{
    height: 100px;
    width: 30%;
    background-color: firebrick;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt3{
    height: 100px;
    width: 60%;
    background-color: rgb(14, 252, 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt4{
    height: 100px;
    width: 40%;
    background-color: rgb(119, 3, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt5{
    height: 100px;
    width: 20%;
    background-color: rgb(0, 241, 249);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt6{
    height: 100px;
    width: 25%;
    background-color: rgb(243, 99, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt7{
    height: 100px;
    width: 15%;
    background-color: rgb(93, 123, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt8{
    height: 100px;
    width: 1%;
    background-color: rgb(15, 186, 132);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt9{
    height: 100px;
    width: 2%;
    background-color: rgb(243, 207, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt10{
    height: 100px;
    width: 3%;
    background-color: rgb(243, 3, 203);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowt11{
    height: 100px;
    width: 4%;
    background-color: rgb(143, 243, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt12{
    height: 100px;
    width: 5%;
    background-color: rgb(243, 83, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt13{
    height: 100px;
    width: 85%;
    background-color: rgb(39, 29, 123);
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width:500px){

    .rowt1{
        background-color: gray;
    }
    
    .rowt2{
        background-color: gray;
    }
    
    .rowt3{
        background-color: gray;
    }
    .rowt4{
        background-color: gray;
    }
    
    .rowt5{
        background-color: gray;
    }
    
    .rowt6{
        background-color: gray;
    }
    
    .rowt7{
        background-color: gray;
    }
    
    .rowt8{
        background-color: gray;
    }
    
    .rowt9{
        background-color: gray;
    }
    
    .rowt10{
        background-color: gray;
    }
    .rowt11{
        background-color: gray;
    }
    
    .rowt12{
        background-color: gray;
    }
    
    .rowt13{
        background-color: gray;
    }



}



@keyframes bounce {
    0%,100% { transform: translateY(0);}
    50% {transform: translateY(-120px);}
}


.col25:hover , .col75:hover{
    background-color: green;
    transform: rotate(36000000deg);

    transition: background-color 2s, transform 2s;
}

.col75:hover{
    transform: translateY(150px);
    background-color: black;
    transition: background-color 2s, transform 2s;
}

.row70:hover{
    /*background-color: white;
    transition: background-color 3s;*/
    animation: bounce 0.5s infinite;

}


.col25:hover , .col75:hover ,.col35:hover ,.col65:hover ,.col10:hover ,.col20:hover ,.col30:hover ,.col40:hover,.row70:hover ,.row30:hover {
    animation: bounce 1s infinite;
}


@keyframes visitAround {
    0%,100% { transform: translateY(0);}
    25% {transform: translateY(150px);}
    50% {transform: translateY(150px) translateX(150px);}
    75% {transform: translateX(150px);}
}

@keyframes sixgen {
    0%,100% { transform: translateY(0) translateX(0);}
    15% {transform: translateX(100px);}
    30% {transform: translateX(150px) translateY(50px);}
    45% {transform: translateX(100px) translateY(100px);}
    60% {transform: translateX(0px) translateY(100px);}
    75% {transform: translateX(-50px) translateY(50px);}
}
.Container h1:hover{
    animation: bounce 0.5s infinite;

}


.flexContainer h1:hover{
    animation: sixgen 5s infinite;
}



.grid-item {
    background-color: #e9e9e9;
    padding: 20px;
    text-align: center;
  }


  .grid-container {
    display: grid;
    grid-template-columns: 4fr 3fr 2fr 3fr 1fr;
    grid-template-rows: repeat(1, minmax(10px, 1fr));
    grid-gap: 20px;
  }


  .grid1{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 6fr;
    grid-template-rows:5fr 3fr 2fr
    grid-gap: 20px;
  }

  .grid2{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 8fr 4fr 5fr 3fr;
    grid-template-rows: repeat(1, minmax(10px, 1fr));
    grid-gap: 20px;
  }

  .grid3{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 4fr 5fr 85fr;
    grid-template-rows: repeat(1, minmax(10px, 1fr));
    grid-gap: 20px;
  }

  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    position: relative;
  }

  .circle:hover {
    animation: moveCircle 2s linear infinite;
  }

  @keyframes moveCircle {
    0% {
      transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
  }
  





.grid-container5 {
    display: grid;
    grid-template-areas:
        "b d a"
        "b c c"
        "b c c";
    grid-gap: 20px;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}

.f {
    grid-area: f;
}

.g {
    grid-area: g;
}


.grid-container6 {
    margin-top: 77px;
    display:grid;
    grid-template-areas:
    "a a a a a"
    "b b b b b"
    "c c c e e"
    "f f f d d"
    "f f f d d";
    grid-gap: 20px;
}

.grid-container7 {
    margin-top: 77px;
    display:grid;
    grid-template-areas:
    "a c c c b"
    "a e e f b"
    "a e e f b"
    "a e e f b"
    "a d d d b";
    grid-gap: 20px;
}

.grid-container8 {
    margin-top: 77px;
    display:grid;
    grid-template-areas:
    "f f c c c e e e"
    "d d d d d a a b";
    grid-gap: 20px;
}


.grid-container9 {
    margin-top: 77px;
    display:grid;
    grid-template-areas:
    "e d c f g"
    "e d c f g"
    "e d c f g"
    "e b b b g"
    "a a a a a";
    grid-gap: 20px;
}


.grid-item:hover{
    animation: bounce 0.5s infinite;

}