.Container{
    background-color: yellow;
    /*width: 300px;
    height: 500px;*/

}


.Container h1{
    color: blueviolet;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    text-decoration: underline;
}


.flexContainer{
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;

    flex-direction: column;
    height: 550px;

    
}

.flexContainer h1{
    margin: 25px;

}


.mainContainer{
    height: 400px;
    width: 100%;

    background-color: black;
}

.cont1{
    height: 100px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}

.cont2{
    height: 100px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
}
.cont3{
    height: 100px;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
}

.cont4{
    height: 100px;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    flex-direction: column;
}


.col25{
    width: 25%;
    height: 100px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.col75{
    width: 75%;
    height: 100px;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;

}


.col35{
    width: 35%;
    height: 100px;
    background-color:tan;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.col65{
    width: 65%;
    height: 100px;
    background-color:orchid;
    display: flex;
    justify-content: center;
    align-items: center;

}


.col10{
    width: 10%;
    height: 100px;
    background-color:gray;
    display: flex;
    justify-content: center;
    align-items: center;

}

.col20{
    width: 20%;
    height: 100px;
    background-color:purple;
    display: flex;
    justify-content: center;
    align-items: center;

}

.col30{
    width: 30%;
    height: 100px;
    background-color:peru;
    display: flex;
    justify-content: center;
    align-items: center;

}

.col40{
    width: 40%;
    height: 100px;
    background-color:palegreen;
    display: flex;
    justify-content: center;
    align-items: center;

}

.row30{
    width: 100%;
    height: 30px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;

}

.row70{
    width: 100%;
    height: 70px;
    background-color:blue;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (max-width:300px) or (min-width:500px){
    .row70{
        background-color:black;
        color: white;
    }
}




.generalContainer{
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;

}


.firstRow{
    display: flex;
    width: 100%;
    height: 100px;
    
}

.secondRow{
    display: flex;
    width: 100%;
    height: 100px;
    
}

.thirdRow{
    display: flex;
    width: 100%;
    height: 100px;
    
}


.rowt1{
    height: 100px;
    width: 10%;
    background-color: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt2{
    height: 100px;
    width: 30%;
    background-color: firebrick;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt3{
    height: 100px;
    width: 60%;
    background-color: rgb(14, 252, 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt4{
    height: 100px;
    width: 40%;
    background-color: rgb(119, 3, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt5{
    height: 100px;
    width: 20%;
    background-color: rgb(0, 241, 249);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt6{
    height: 100px;
    width: 25%;
    background-color: rgb(243, 99, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt7{
    height: 100px;
    width: 15%;
    background-color: rgb(93, 123, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt8{
    height: 100px;
    width: 1%;
    background-color: rgb(15, 186, 132);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt9{
    height: 100px;
    width: 2%;
    background-color: rgb(243, 207, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt10{
    height: 100px;
    width: 3%;
    background-color: rgb(243, 3, 203);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowt11{
    height: 100px;
    width: 4%;
    background-color: rgb(143, 243, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt12{
    height: 100px;
    width: 5%;
    background-color: rgb(243, 83, 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowt13{
    height: 100px;
    width: 85%;
    background-color: rgb(39, 29, 123);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:500px){

    .rowt1{
        background-color: gray;
    }
    
    .rowt2{
        background-color: gray;
    }
    
    .rowt3{
        background-color: gray;
    }
    .rowt4{
        background-color: gray;
    }
    
    .rowt5{
        background-color: gray;
    }
    
    .rowt6{
        background-color: gray;
    }
    
    .rowt7{
        background-color: gray;
    }
    
    .rowt8{
        background-color: gray;
    }
    
    .rowt9{
        background-color: gray;
    }
    
    .rowt10{
        background-color: gray;
    }
    .rowt11{
        background-color: gray;
    }
    
    .rowt12{
        background-color: gray;
    }
    
    .rowt13{
        background-color: gray;
    }



}
