#allContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px
}

#addContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px
}
#listContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px
}